footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #0067A3;
    color: #FFFFFF;
}
#tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 333px;
    margin-left: 67px;
}

#by {
    margin-right: 24px;
}

